doctype html
html(lang = "en")
  head
    title Página informativa
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/estilos.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:700italic' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/animate.css")
  body
    block contenido
    nav(class=" text-center animated jello retraso1")
      ul(class="sin-lista text-center")
        li(class="col-md-2 blanco")
          a(href="inicio.html") INICIO
        li(class="col-md-2 ")
          a(href="nosotros.html") NOSOTROS
        li(class="col-md-2 ")
          a(href="contacto.html") CONTACTO
        li(class="col-md-2 ")
          a(href="premium.html") CURSOS PREMIUM
        li(class="col-md-2 ")
          a(href="gratuitos.html") CURSOS GRATUITOS
      
      
                    
              
                
        
      
      
