doctype html
html(lang = "en")
  head
    title Página informativa
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/estilos.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(href='https://fonts.googleapis.com/css?family=Roboto:700italic' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="css/animate.css")
    div(class="col-md-12 largo roboto")
      nav(class=" text-center")
        ul(class="sin-lista text-center")
          li(class="col-md-2 blanco")
            a(href="/menu") INICIO
          li(class="col-md-2")
            a(href="nosotros.html") NOSOTROS 
          li(class="col-md-2")
            a(href="contacto.html") CONTACTO 
          li(class="col-md-2")
            a(href="premium.html") CURSOS PREMIUM 
          li(class="col-md-2")
            a(href="gratuitos.html") CURSOS GRATUITOS 
    section
      div(class="text-center")
        h2(class="roboto color") MENU DE LOS LENGUAJES
        p We have got many courses that are so interested and useful for everyone
      div(class="col-md-3 col-sm-4 color") FIRST LANGUAGE
        article
          hgroup
            h3 JAVA
          img(src="img/java.png") 
          p
            strong $1000.00
        article
          hgroup
            h3 JAVASCRIPT
          img(src="img/js.png") 
          p
            strong $999.00
        article
          hgroup
            h3 PYTHON
          img(src="img/python.png") 
          p
            strong $1110.00
            
    div(class="col-md-6 col-sm-4 color") SECOND LANGUAGE
      article
        hgroup
          h2 SQL SERVER
        img(src="img/sql.png") 
        p
          strong $3500.00
          
    div(class="col-md-3 col-sm-4 color") THIRD LANGUAGE
      article
        hgroup
          h3 VISUAL STUDIO
          img(src="img/vs.png") 
          p
            strong $800.00
            
      article
        hgroup
          h3 RUBY
          img(src="img/ruby.png")
          p
            strong $2040.00
          
            
            
    
  
